.split-layout {
    display: flex;
    height: 100vh;
    width: 100%;
}

.split-layout__part{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.split-layout__part--left{
    background:   #cbecf7;
}

.split-layout__part--right {
    background:  #cafae6;
}
